@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FAFAF9;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer base {
    :root {
        --background: 60 9.1% 97.8%;
        --foreground: 24 9.8% 10%;
        --card: 0 0% 100%;
        --card-foreground: 24 9.8% 10%;
        --popover: 0 0% 100%;
        --popover-foreground: 24 9.8% 10%;
        --primary: 160 84.4% 52.2%;
        --primary-foreground: 0 0% 100%;
        --secondary: 199 95.3% 73.7%;
        --secondary-foreground: 24 9.8% 10%;
        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;
        --accent: 24 100% 72.2%;
        --accent-foreground: 24 9.8% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 100%;
        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;
        --ring: 160 84.4% 52.2%;
        --radius: 1rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-stone-50 text-stone-900;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}